.toolbar1 {
    background: linear-gradient(90deg, red, black);
    position: fixed;
    z-index: 99999;
    height: 12%;

    .button-1 {
        background: linear-gradient(90deg, black, red);
        color: white
    }

    .button-2 {
        background-color: red;
        color: yellow;

    }

    .button-3 {
        background-color: red;
        color: black;

    }

    .spacer {
        width: 10px;
    }
}