<mat-sidenav-container class="sidenav-container">
    <!-- Immer offene Sidenav -->
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">About</a>
        <a mat-list-item href="#">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Hauptinhalt -->
    <mat-sidenav-content>
      <div class="main-content">
        <p>Hier kommt der Hauptinhalt hin.</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  